<!DOCTYPE html>
<html>
<head>
    <title>Leekbeet</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
    <p>Welcome to LeekBeet! Enter a sentence or phrase below.</p>
    
    <form action="/output" method="post">
        <label for="input">Translate a sentence into leekbeet:</label>
        <input id="input" name="input" type="text">
        <button type="submit">Submit</button>
    </form>
</body>
</html>