<!DOCTYPE html>
<html>
<head>
   <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
   <link href="~/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <div class="garlic">
            <h3>@Model.Output</h3><br>
            <h4>Watercress you like to turnip asparagus potato?</h4>
            <a href="/"><button class="btn btn-success">Yes</button></a>
            <a href="/"><button class="btn btn-success">No</button></a>
            <a href="/"><button class="btn btn-success">Translate</button></a>
        </div>
    </div>
</body>
</html>