@using Leekbeet.Models;
<h3><strong>@LeekbeetTranslator.Output</strong></h3><br>
<h4><strong>Watercress you like to turnip asparagus potato?</strong></h4>
<a href="/"><button class="btn btn-success">Yes</button></a>
<a href="/garlic"><button class="btn btn-success">No</button></a>
<a href="/translate"><button class="btn btn-success">I don't understand</button></a>
    