@using Leekbeet.Models;
<h3><strong>@LeekbeetTranslator.Output</strong></h3><br>
<h4><strong>Would you like to translate another phrase?</strong></h4>
<a href="/"><button class="btn btn-success">Yes</button></a>
<a href="/garlic"><button class="btn btn-success">No</button></a>